table {
  margin: 20px;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: none;
}

.uts-rest-description {
  padding: 30px;
  margin: 10px 20px 20px 0px;
  border: 1px solid #f1f1f1;
}

.uts-soap-description {
  padding: 30px;
  margin: 10px 0px 20px 20px;
  border: 1px solid #f1f1f1;
}

#uts-notice {
  float: right;
  width: 30%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin: 10px 0px 20px 20px;
  height: 95%;
}

@media screen and (max-width: 768px) {
  #uts-notice {
    display: none;
  }
}

.uts-breadcrumbs {
background-color: black;
color: white;
}

.uts-breadcrumbs a {
color: white;
}

#barbranding {
background-color: #326295 !important;
}

.uts-container::after {
    content: "";
    display: table;
    clear: both;
}

table, th, td {
  border: 1px solid;
  padding: 4px;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
  background-color: #f7f7f5 !important; 
}