.header {
   background-color:#134181;
   border-bottom:solid 2px #4F88D9;
}

.uts-nav{
    
    padding:.2em;
    border:none;
    border: solid 2px #e7eeeb;
    border-radius: 0 !important;
}

.dropdown-toggle {
   
  background-color:#f8f8f8;
  border:none;
}

h1 {
font-size: 2em;    
}

.uts-title {

font-size: 1.5em;
font-weight: bold;
padding-top:.5em;
margin-left:3em;

}


.orange{
   
color: #ff9900;

}

.white, .white a{
   
   color:white;
}

.notice {
   
   font-weight: bold;
}

#footer {
   
  background-color: #134181; 
  border-top:solid 2px #4F88D9;

}

#footer * > a{
   
   text-decoration: underline;
}

