.header {
   background-color:#134181;
   
}

.header * > a:hover{
   
   color:white;
}

.header * > a {
 
 margin-top:.5em;  
   
}

.uts-nav{
    
    padding:.2em;
    border:none;
    border: solid 1px #e7eeeb;
    border-radius: 0 !important;
}

.navbar * > button:hover, .navbar  * > a:hover, .dropdown-menu > li a:hover {
   
   color: #78a22f;
      
}

.navbar {
    /*overrides default bootstrap.min.css setting*/
    margin-bottom: 0px !important;
}

.navbar  * > a {
   
  color: #000;
   
}
.navbar * > a:hover, .dropdown-menu > li a:hover {
   
   text-decoration: underline;
}



.dropdown-toggle {
   
  background-color:#f8f8f8;
  border:none;
}

.breadcrumbs-container {
   
background-color:#000000;

}

.breadcrumbs, .breadcrumbs a {
   
color:#ffffff;
font-size:.9em;
   
}

h1 {
font-size: 2em;    
}

.uts-title {

font-size: 1.5em;
font-weight: bold;
padding-top:.5em;
margin-left:3em;

}

h2 a,h3 a,h4 a, h5 a {
   
 color: #000; 
   
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
   
   text-decoration: none;
   color: #000;
}

.orange{
   
color: #ff9900;

}

.white, .white a{
   
   color:white;
}

.notice {
   
   font-weight: bold;
}

#footer {
   
  background-color: #134181; 
  border-top:solid 2px #4F88D9;

}

#footer * > a{
   
   text-decoration: underline;
}

